altgraph==0.17.5
clipboard==0.0.4
packaging==26.0
pefile==2024.8.26
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
pyperclip==1.11.0
pyqt6==6.10.2
pyqt6-qt6==6.10.2
pyqt6-sip==13.11.1
pywin32-ctypes==0.2.3
setuptools==82.0.1
